<style>
    .error{
        color: red;
    }
</style>
{{!-- 
<section>
    <div class="container mt-4">
    <div class="row">
         <div class="col-md-6">
            <h2 class="text-center">Add User</h2>
            <form action="/admin/add-user" method="post" id="adduser">
                <label for="">Name</label>
                <input type="text" name="Name" class="form-control" required>

                <div>
                    <label for="">Email</label>
                </div>
                <input type="email" name="Email" class="form-control" required>

                <div>
                    <label for="">Password</label>
                </div>
                <div>
                <input type="text" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success mt-4">submit</button>
            </form>
         </div>
    </div>
    </div>
</section> --}}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal" action="/admin/add-coupen" method="post" id="adduser">
<fieldset>

<!-- Form Name -->
    <h1 class="text-center" style="color: rgb(12, 214, 59);">Add Coupen</h1>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_id">Coupen</label>  
  <div class="col-md-4">
  <input id="product_id" name="Name" placeholder="Name" class="form-control input-md" required="" type="text">
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="product_id">Offer Percentage</label>  
  <div class="col-md-4">
  <input id="product_id" name="Price" placeholder="Price" class="form-control input-md" required="" type="text">
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="product_id">Description</label>  
  <div class="col-md-4">
  <input id="product_id" name="Description" placeholder="Description" class="form-control input-md" required="" type="text">
    
  </div>
</div>
<!-- Text input-->


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Submit</label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
  </div>
  </div>

</fieldset>
</form>

<script
         src="https://code.jquery.com/jquery-3.6.1.js"
         integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
         crossorigin="anonymous"
      ></script>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
         integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer"
      ></script>
<script>
    $(document).ready(function () {
        jQuery.validator.addMethod("noSpace", function (value, element) {
            return value.indexOf(" ") < 0 && value != "";
        }, "Space are not allowed");
        $("#adduser").validate({
            rules: {
                Name: {
                    required: true,
                    noSpace: true,
                },
                Email: {
                    required: true,
                    noSpace: true
                },
                password: {
                    required: true,
                    noSpace: true
                }

            },
            messages: {
                Name: {
                    required: 'Enter the name',
                },
                Email: {
                    required: "Enter the email"
                },
                Password: {
                    required: "Enter the password"
                }

                

            }
        })
    })
</script>