<main class="main" id="main">
<div class="container" style="display: flex;">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/banner/1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Banner 1</h5>
    <p class="card-text">TRENDING NOW</p>
    <a href="/admin/edit-banner/?banner=1" class="btn btn-primary">Edit</a>
  </div>
</div>
<div class="card ms-5" style="width: 18rem;">
  <img class="card-img-top" src="/banner/2.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Banner 2</h5>
    <p class="card-text">YOU MIGHT LOVE</p>
    <a href="/admin/edit-banner/?banner=2" class="btn btn-primary">Edit</a>
  </div>
</div>
<div class="card ms-5" style="width: 18rem;">
  <img class="card-img-top" src="/banner/3.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Banner 3</h5>
    <p class="card-text">CLEARANCE</p>
    <a href="/admin/edit-banner/?banner=3" class="btn btn-primary">Edit</a>
  </div>
</div>
<div class="card ms-5" style="width: 18rem;">
  <img class="card-img-top" src="/banner/4.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Banner 4</h5>
    <p class="card-text">CLEARANCE</p>
    <a href="/admin/edit-banner/?banner=4" class="btn btn-primary">Edit</a>
  </div>
</div>
</div>


</main>