<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="/stylesheets/style.css" rel="stylesheet">



</head>

<body>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  {{{body}}}
</body>


</html>